<!DOCTYPE html>
<html>
<head>
    <title>Dados do Veículo</title>
</head>
<body>
    <h1>Dados do Veículo</h1>
    <p>Marca: {{.vehicle.Brand}}</p>
    <p>Modelo: {{.vehicle.Model}}</p>
    <p>Ano: {{.vehicle.Year}}</p>
    <p>Preço: {{.vehicle.Price}}</p>
</body>
</html>
